@use "../../styles/_variables" as *; // adjust relative path


.sidebar {
  margin-top: 60px;
  display: flex;
  flex-direction: column; // vertical stacking
  padding: 0.25rem 0;
  width: 250px; // fixed sidebar width
  background-color: #f8f9fa; // optional, for visual separation
  gap: 0.5rem; // space between items
  height: 100vh; // full viewport height
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // subtle shadow
  margin-bottom: 30px;
}

.section_title {
  color: #545F7D;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  gap: 0.5rem; // space between icon and label
  transition: background 0.3s;
  text-transform: uppercase; // capitalize each word
  font-size: 0.8rem;
}
